<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="foo">
        <parameter name="first-name" value="Cedric"/>
        <classes>
            <class name="com.lohika.testng.parametrization.XmlParameters"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="foo1">
        <parameter name="first-name" value="Bobby"/>
        <classes>
            <class name="com.lohika.testng.parametrization.XmlParameters"/>
        </classes>
    </test>
</suite>